@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&family=Itim&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&family=Itim&family=Jersey+25&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&family=Itim&family=Jersey+25&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Irish+Grover&family=Itim&family=Jersey+25&family=Joan&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  border: 0;
  overflow-x: hidden;
}

.irish-grover-regular {
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
}

.itim-regular {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

.jersey-25-regular {
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.joan-regular {
  font-family: "Joan", serif;
  font-weight: 400;
  font-style: normal;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 11vh;
  background-color: white;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main-logo {
  font-size: 2rem;
  margin-left: 2vw;
}

.nav-links {
  font-size: 1.25rem;
}

.nav-links a {
  margin: 1rem;
}

.order-btn {
  background-color: #4f4f4f;
  color: white;
  font-size: 1.25rem;
  border-radius: 8px;
  height: 3rem;
  width: 8rem;
  border: none;
}

.nav-hr {
  position: fixed;
  top: 10vh;
  width: 100vw;
}

.content {
  margin-top: 11vh;
}

.grid-container img {
  width: 50vw;
  max-height: 45vh;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  align-items: center;
}

.grid-3 {
  grid-column-start: 2;
  grid-row-start: 2;
}

.grid-4 {
  grid-column-start: 1;
  grid-row-start: 2;
}

p {
  font-size: 1.5rem;
  margin: 10%;
}

span {
  font-size: 2rem;
}

.pagodnaaq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.here-btn {
  background-color: #4046b7;
  color: white;
  padding: 2%;
  border-radius: 8px;
  font-size: 2rem;
}

.socials img {
  width: 2rem;
  margin: 1em;
}

.footer {
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ewankona {
  margin: 1em;
  font-size: 1rem;
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    display: none;
  }

  .main-logo {
    font-size: 1.25rem;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-container img {
    width: 100vw;
  }

  p {
    font-size: 1rem;
  }

  .grid-6 {
    margin-bottom: 15%;
  }

  .pagodnaaq span {
    font-size: 1.25rem;
    margin-top: 3rem;
  }

  .here-btn {
    font-size: 1.25rem;
  }

  .footer p {
    font-size: 0.8rem;
    margin: 2%;
  }

  .socials img {
    width: 6vw;
    margin: 0.2rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  body {
    overflow-x: hidden;
  }

  .main-logo {
    font-size: 1.25rem;
  }

  .nav-links {
    display: none;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-container img {
    width: 100vw;
  }

  p {
    font-size: 1rem;
  }

  .grid-6 {
    margin-bottom: 15%;
  }

  .pagodnaaq span {
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  .here-btn {
    font-size: 1.5rem;
  }

  .footer p {
    font-size: 0.8rem;
    margin: 2%;
  }

  .socials img {
    width: 6vw;
    margin: 0.2rem;
  }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  body {
    overflow-x: hidden;
  }

  .main-logo {
    font-size: 1.5rem;
  }

  .nav-links {
    display: none;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
  }

  .grid-container img {
    width: 100vw;
  }

  p {
    font-size: 1.25rem;
  }

  .grid-6 {
    margin-bottom: 20%;
  }

  .pagodnaaq span {
    font-size: 1.75rem;
    margin-top: 3rem;
  }

  .here-btn {
    font-size: 1.75rem;
  }

  .footer p {
    font-size: 0.9rem;
    margin: 2%;
  }

  .socials img {
    width: 6vw;
    margin: 0.2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }

  .main-logo {
    font-size: 2rem;
  }

  .nav-links {
    font-size: 1.25rem;
  }

  .grid-container img {
    width: 50vw;
  }

  p {
    font-size: 1.5rem;
  }

  .pagodnaaq span {
    font-size: 1.75rem;
    margin-top: 3rem;
  }

  .here-btn {
    font-size: 1.75rem;
  }

  .footer p {
    font-size: 1rem;
    margin: 2%;
  }

  .socials img {
    width: 4vw;
    margin: 0.5rem;
  }
}
